.my-profile {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.profile-pic {
  flex: 0 0 auto;
  text-align: center;
  img {
    width: 150px;
    height: 150px;
  }
}

.profile-info-left {
  // border: 1px solid black;
  flex: 1 0 auto;
  max-width: 40%;
  padding: 15px;
  height: auto;
}

.profile-info-right {
  // border: 1px solid black;
  flex: 0 0 auto;
  // max-width: 50%;
  padding: 15px;
  height: auto;
}

.edit-icon {
  font-size: 30px;
}
