.profile {
  display: flex;
  height: 79vh;
}

.profile-left {
  flex: 0 0 40%;
  padding: 30px;
  margin: 15px;
  height: 650px;
  justify-content: space-around;
  text-align: center;
  position: relative;
  overflow:scroll;
  border-radius: 6px;
  box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
  img {
    border-radius: 50%;
  }
}

.edit-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}

.profile-right{
  flex: 0 0 60%;
  padding-left: 5px;
}

.hosting {
  box-shadow: 2px 10px 20px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
  padding: 10px;
  margin: 15px;
  height: 350px;
  overflow: scroll;
  position:relative;
  border-radius: 6px;
}

.show-image {
  border-radius: 6px;
  float:left;
  margin: 0 15px;
}

.show-space {
  padding: 10px;
  border-bottom: 1px solid black;
  width: 100%;
}

.show-space-content {
  float: none;
}

.profile-buttons {
  font-size: 15px;
  margin:15px;
  padding:10px;
}


.booking {
  box-shadow: 2px 10px 20px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
  padding: 10px;
  margin: 15px;
  height: 280px;
  overflow: scroll;
  position:relative;
  border-radius: 6px;
}


.show-booked-space {
  padding: 10px;
  border-bottom: 1px solid black;
  width: 100%;
}

.show-booked-space-content {
  float: none;
  margin-left: 10px;
}

.profile-buttons {
  font-size: 15px;
  margin:15px;
  padding:10px;
}
