<div class="banner" style="background-image: linear-gradient(-225deg, rgba(10,30,50,0.5) 0%, rgba(0,36,61,0.8) 100%), url('https://images.unsplash.com/photo-1527192491265-7e15c55b1ed2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');">
  <div class="banner-content">
    <!-- <h2>SpaceHub</h2> -->
    <div class="content">
      <div class="flexbox-animation">
        <div class="flex-item-text">
          Co-working spaces for
        </div>
        <div class="animation-container flex-item-animation">
          <ul class="animation-list">
            <li class="animation-list-item">Professionals</li>
            <li class="animation-list-item">Artists</li>
            <li class="animation-list-item">Content Creators</li>
            <li class="animation-list-item">Freelancers</li>
          </ul>
        </div>
      </div>
      <a href="/spaces", class="btn btn-primary btn-sm button">Explore Spaces Near You!</a>
    </div>
  </div>
  <div class="down-arrow">
    <a id="down-arrow" href="#home-cards"><i class="fas fa-arrow-circle-down"></i></a>
  </div>
</div>


