<%= render "./components/navbar_home" %>
<%= render "./components/banner" %>

<!--
<div class="container">
  <div class="row">
    For Each Space Do
      import _card.scss
    end
  </div>
</div>
 -->
